<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    <style>
        .logout-link {
            position: absolute;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="container" style="position: relative;">
        <div class="token-display">
            {{ user["username"] }} test
        </div>
        <div class="token-display">
            {{ user['coquilles'] }} Coquilles
        </div>
        <h2>Welcome {{ user["username"] }}!</h2>
        <nav>
            <ul style="display: flex; justify-content: space-between; gap: 20px; padding: 0;">
                <li><a href="/friend_request">Friend Requests</a></li>
                <li><a href="/rentScooter">Rent a Scooter</a></li>
            </ul>
        </nav>
        <h3>Your Friends</h3>
        <ul id="friend-list">
            <!-- Friends will be dynamically inserted here -->
            {% for friend in friends %}
            <li class="friend">
                {{ friend[1] }}
            </li>
            {% endfor %}
        </ul>
        <h3>Account Management</h3>
        <div class="secondary-buttons">
            <a href="/updateProfile">Profile Settings</a>
            <a href="/logout" class="danger_buttons logout-link">Logout</a>
        </div>
        
    </div>
    <p class="footer-text">&copy; 2025 TTM4115 Group 9</p>
</body>
</html>
