{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit" class="button button-primary">Login</button>
    </form>
    <div>{{ error }}</div>
    <button onclick="location.href='/forgotPassword'" class="button button-primary" style="margin-top: 30px; font-size: 0.9em;">Forgot Password?</button>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='error_handling.js') }}"></script>
{% endblock %}