<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>

<body>
    <div class="container">
        <div class="secondary-buttons">
            <a href="/updateProfile">&larr; Back to Profile</a>
        </div>
        <h2>Change Password</h2>
        <form id="password-form" action="/passwordChange" method="POST">
            <div>
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password" name="current-password" required>
            </div>
            <br>
            <div>
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="new-password" required>
            </div>
            <br>
            <button type="submit" class="primary-button">Change Password</button>
        </form>
        <p style="color: red;">{{ error }}</p>
    </div>
    <p class="footer-text">&copy; 2025 TTM4115 Group 9</p>
</body>

</html>